$separator-line-height: 42px;
$soundOptionsButtonWidth: 86px;
$cornerLogoAnimateDistance: 260px;
$cornerMusicPlayerChildElementWidth: 140px;

@mixin slideInAnimation($elementWidth, $delay) {
	.slideInAnimationWrapper {
		.slideInAnimationElementContainer {
			overflow: hidden;
			.slideInAnimationElement {
				animation-fill-mode: forwards;
				animation-duration: 0.75s;
				transform: translateX(100vw);//before animation position, hide completely
				width: $elementWidth;
			}
			.slideInAnimationElementLeft {
				animation-fill-mode: forwards;
				animation-name: soundOptionsSlideOutLeft;
				animation-delay: $delay + 0.5s;
				@keyframes soundOptionsSlideOutLeft {
					0%   {transform: translateX($elementWidth);}
					100% {transform: translateX(0);}
				}
			}
			.slideInAnimationElementRight {
				animation-fill-mode: forwards;
				animation-name: soundOptionsSlideOutRight;
				animation-delay: $delay + 0.7s;
				@keyframes soundOptionsSlideOutRight {
					0%   {transform: translateX(-$elementWidth);}
					100% {transform: translateX(0);}
				}
			}
		}
		.separator {
			height: 0;
			animation-fill-mode: forwards;
			animation-name: lineAppear;
			animation-duration: 0.75s;
			animation-delay: $delay;
		}
	}
}

@font-face {
	src: url("assets/fonts/Gotham-Light.otf");
	font-family: "Gotham-Light" format("opentype");
	font-weight: 300;
}

@font-face {
    src: url("assets/fonts/Gotham-Book.otf") format("opentype");
	font-family: 'Gotham';
	font-weight: 400;
}

@font-face {
	src: url("assets/fonts/Gotham-Bold.otf");
	font-family: "Gotham-Bold" format("opentype");
	font-weight: 700;
	font-style: normal;
}

@keyframes fadeInDriftUp {
	0%   {top: 15px;opacity: 0;}
	100% {top: 0;opacity: 1;}
}

@keyframes lineAppear {
	0%   {height: 0;}
	100% {height: $separator-line-height;}
}

@keyframes soundOptionsSlideOutRight {
	0%   {transform: translateX(-$soundOptionsButtonWidth);}
	100% {transform: translateX(0);}
}

@keyframes soundOptionsSlideOutLeft {
	0%   {transform: translateX($soundOptionsButtonWidth);}
	100% {transform: translateX(0);}
}


@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes slideCornerLogo {
	0% {transform: translateX(0);}
	100% {transform: translateX($cornerLogoAnimateDistance);}
}

* {
	box-sizing: border-box;
}
body {
	font-family: 'Gotham', sans-serif;
	font-weight: 400;
}
.slides_wrapper {
	overflow: hidden;
	height: 100vh;
	.slides_inner {
		transition-property: transform;
		transition-duration: 1400ms;
		transition-timing-function: cubic-bezier(0.29, 0.79, 0.35, 0.99);
	}
}
.separator {
	border-left: 0.5462802649px solid #FFFFFF;
	height: $separator-line-height;
	margin: 0 24px;
}

/* This will run the slide in animation.
 * It will only run once since we will remove the 
 * .animationHasNotRun class after the animation
 * has ran.
 * For reference: 
 * slideInAnimation($elementWidth, $delay)
 */
.animationHasNotRun {
	&.landing_page_sound_player {
		@include slideInAnimation($soundOptionsButtonWidth, 4.5s)
	}
	&.corner_content_wrapper {
		@include slideInAnimation($cornerMusicPlayerChildElementWidth, 0.4s)
	}
}

.slide {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	&.runAnimations {
		.background-video {
			&.videoZoomEffect {
				transform: scale(1);
				transition-delay: 1.1s;
			}
		}
		.centerBottom {
			> h1 {
				position: relative;
				animation-fill-mode: forwards;
				animation-name: fadeInDriftUp;
				animation-duration: 0.7s;
				animation-delay: 0.5s;
				+ h1 {
					animation-delay: 0.7s;
				}
			}
		}
		.center {
			> h1,
			.contactButton {
				position: relative;
				animation-fill-mode: forwards;
				animation-name: fadeInDriftUp;
				animation-duration: 1.7s;
				animation-delay: 0.5s;
				
			}
			> h1 {
				animation-delay: 0.7s;
			}
			.contactButton {
				animation-delay: 1.1s;
			}
		}
		.downArrow {
			opacity: 1;
			bottom: 0;
		}
		.privacyPolicy .verticalLineContainer .verticalLine {
			height: 100%;
		}
		.privacyPolicy .logo {
			opacity: 1;
		}
	}
	.downArrow {
		opacity: 0;
		transition: all 1.2s;
		transition-delay: 1s;
		position: relative;
		bottom: 50px;
		cursor: pointer;
		margin-top: 20px;
	}
	.btn {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 50px;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		width: 217px;
		height: 66px;
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 2.25px;
		color: #000000;
		cursor: pointer;
	}
	&.bg000 {
		background-color: #000;
		color: #fff;
	}
	.center {
		text-align: center;
		> h1 {
			opacity: 0;
		}
	}
	.background-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
	.background-video {
		width: 100%;
		height: 100%;
		object-fit: cover;
		&.videoZoomEffect {
			transform: scale(1.07);
			transition: transform 1.2s ease-out 1.2s;
		}
	}
	
	.centerBottom {
		letter-spacing: 4.4px;
		position: absolute;
		bottom: 13vh;
		line-height: 45px;
		text-align: center;
		> h1 {
			opacity: 0;
		}
	}
	.contactButton {
		color: #a9a9a9;
		opacity: 0;
	}
	.contactPageWrapper {
		width: 100%;
		height: 100%;
	}
	.contactForm {
		position: absolute;
		left: 100px;
		top: 175px;
		background-color: #CDCDCD;
		padding: 53px;
		width: 44vw;
		&.submitted {
			.submittedFormOverlay {
				background: #000;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				color: #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				letter-spacing: 4.4px;
				font-size: 20px;
				.closeBtn {
					position: absolute;
					top: 50px;
					right: 50px;
				}
			}
		}
		.submittedFormOverlay {
			display: none;
		}
		
		.headline {
			font-size: 14px;
			letter-spacing: 4.17px;
			line-height: 16.66px;
			text-transform: uppercase;
			color: #fff;
			margin-bottom: 18px;
		}
		.two-input-group {
			display: flex;
			.form-control {
				flex-grow: 1;
				+ .form-control {
					margin-left: 32px;
				}
			}
		}
		.form-control {
			font-family: "Gotham-Light", sans-serif;
			font-weight: 300;
			.label {
				display: block;
				color: #000;
				font-size: 14.2px;
				line-height: 19.88px;
				margin-top: 24px;
			}
			.input {
				margin-top: 16px;
				background-color: #fff;
				height: 44px;
				border: none 0 transparent;
				width: 100%;
				font-size: 20px;
				font-weight: 300;
				font-family: "Gotham-Light", sans-serif;
				letter-spacing: 4.4px;
				padding: 10px;
				&.textarea {
					height: 80px;
				}
			}
		}
		.fine-print {
			font-size: 10px;
			line-height: 1.4em;
			color: #000;
			margin-top: 18px;
		}
		.rightArrow {
			float: right;
			margin-top: 40px;
		}
	}
	.privacyPolicy {
		width: 45%;
		display: flex;
		flex-direction: column;
		align-items: center;
		float: right;
		
		.verticalLineContainer {
			height: 50vh;
			
			.verticalLine {
				border-left: solid 0.55px #000;
				transition: all 1.2s;
				transition-delay: 0.9s;
				height: 0;
			}
		}
		.logo {
			height: 90px;
			margin-bottom: 56px;
			margin-top: 35px;
			opacity: 0;
			transition: all 1.2s;
			transition-delay: 2.1s;
		}
		.contactInfo {
			text-align: center;
			.address,
			.phone,
			.copyright  {
				font-size: 15px;
				line-height: 25px;
			}
			.phone {
				font-weight: 700;
				font-family: 'Gotham-Bold', sans-serif;
			}
			.copyright {
				font-weight: 300;
				font-family: 'Gotham-Light', sans-serif;
				margin-top: 50px;
			}
			.btn {
				border: solid 1px #000;
				margin-top: 46px;
			}
		}
	}
}
.musicplayer_container {
	position: absolute;
	z-index: 2;
	color: #fff;
	text-align: center;
	cursor: pointer;
	letter-spacing: 4.4px;
	&.darkMode {
		color: #000;
		.separator {
			border-left-color: #000;
		}
	}
	&.corner_layout {
		top: 50px;
		right: 50px;
		line-height: 21px;
		.centered_content {
			display: none;
		}
	}
	&.center_layout {
		display: block;
		left: 50%;
		top: auto;
		bottom: 13vh;
		transform: translateX(-50%);
		.corner_content_wrapper {
			display: none;
		}
	}
	.corner_content {
		display: flex;
		align-items: center;
		.slideInAnimationElement {
			width: $cornerMusicPlayerChildElementWidth;
		}
		.separator {
			margin: 0;
		}
	}
	

	.musicplayer {
		.landing_page_sound_player {
			&.animationHasNotRun {
				.title {
					position: relative;
					opacity: 0;
					animation-fill-mode: forwards;
					animation-name: fadeInDriftUp;
					animation-duration: 1s;
					animation-delay: 4s;
				}
			}
			.title {
				opacity: 1;
			}
			.settings {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 40px;
				height: $separator-line-height;
				.button {
					width: $soundOptionsButtonWidth;
					&.play {
						z-index: 1;
						.text {
							float: right;
							width: $soundOptionsButtonWidth;
						}
					}
					&.mute {
						.text {
							float: left;
							width: $soundOptionsButtonWidth;
						}
					}
					.text {
						overflow: hidden;
					}
					&:hover {
						font-weight: 700;
						font-family: 'Gotham-Bold', sans-serif;
					}
				}
				.separator {
					margin: 0;
				}
			}
		}
	}
}


.runAnimationOnce {
	.corner-logo-wrapper {
		@for $i from 1 through 16 {//letters in string plus following line
			&.animate {
				.text .cascading-animation {
					&:nth-child(#{$i}) {
						animation-delay: 0.5s + $i * (0.8s / 16);
					}
				}
			}
		}
		&.animate {
			.corner-logo {
				animation-duration: 1s;
				animation-delay: 0.5s;
				animation-fill-mode: forwards;
				animation-name: slideCornerLogo;
				
			}
		}
		&.animate {
			.text .cascading-animation {
				animation-duration: 0.2s;
				animation-fill-mode: forwards;
				animation-name: fadeIn;
			}
		}
		
	}
}
.corner-logo-wrapper {
	position: absolute;
	top: 40px;
	left: 100px;
	z-index: 12;
	height: 60px;
	width: 250px;
	cursor: default;
	&:hover {
		.corner-logo {
			transform: translateX($cornerLogoAnimateDistance);
		}
	}

	@for $i from 1 through 16 {//letters in string plus following line
		&:hover {
			.text .cascading-animation {
				&:nth-child(#{$i}) {
					animation-delay: $i * (0.8s / 16);
				}
			}
		}
	}
	&:hover {
		.text .cascading-animation {
			animation-fill-mode: forwards;
			animation-name: fadeIn;
			animation-duration: 0.2s;
		}
	}
	
	
	&.darkMode {
		.text {
			color: #000;
		}
		.separator {
			border-left-color: #000;
		}
	}
	.corner-logo {
		width: 110px;
		transition: all 1s;
		position: absolute;
		left: 0;
	}
	.text {
		transition: all 1s;
		position: absolute;
		top: 20px;
		color: #fff;
		width: 300px;
		display: flex;
		align-items: center;
		.letter {
			opacity: 0;
			padding-right: 4.4px;
		}
		.separator {
			opacity: 0;
			margin: 0 12px;
		}
	}
}
