.mobile-only {
    display: none !important;
}


.slide {
    .contactPageWrapper {
        .contactForm {
            .hubspotFormWrapper {
                .hs-nested-form-fix .hs-form {
                    .select2-container--default {
                        margin-top: 16px;
                        .select2-selection--single {
                            .select2-selection__arrow {
                                top: 5px;
                                right: 18px;
                            }
                        }
                    }
                    .hs-form-field .hs-input::-webkit-input-placeholder { /* WebKit browsers */
                        color: transparent;
                    }
                    .hs-form-field .hs-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                       color: transparent;
                    }
                    .hs-form-field .hs-input::-moz-placeholder { /* Mozilla Firefox 19+ */
                       color: transparent;
                    }
                    .hs-form-field .hs-input:-ms-input-placeholder { /* Internet Explorer 10+ */
                       color: transparent;
                    }
                    .select2-selection__placeholder {
                        color: transparent;
                    }
                }
            }
            
            .form-control .select2-container--default .select2-selection--single .select2-selection__arrow {
                top: 5px;
                right: 18px;
            }
            .form-control .input::-webkit-input-placeholder { /* WebKit browsers */
                color: transparent;
            }
            .form-control .input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
               color: transparent;
            }
            .form-control .input::-moz-placeholder { /* Mozilla Firefox 19+ */
               color: transparent;
            }
            .form-control .input:-ms-input-placeholder { /* Internet Explorer 10+ */
               color: transparent;
            }
            .select2-selection__placeholder {
                color: transparent;
            }
        }
    }
}


