/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes lineAppear {
  0% {
    height: 0;
  }
  100% {
    height: 42px;
  }
}
@keyframes soundOptionsSlideOutRight {
  0% {
    transform: translateX(-86px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes soundOptionsSlideOutLeft {
  0% {
    transform: translateX(86px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideCornerLogo {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(260px);
  }
}
@keyframes fadeInDriftUp {
  0% {
    top: 15px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Custom Styles */
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

@font-face {
  src: url("assets/fonts/Gotham-Light.otf");
  font-family: "Gotham-Light" format("opentype");
  font-weight: 300;
}
@font-face {
  src: url("assets/fonts/Gotham-Book.otf") format("opentype");
  font-family: "Gotham-Book";
  font-weight: 400;
}
@font-face {
  src: url("assets/fonts/Gotham-Bold.otf");
  font-family: "Gotham-Bold" format("opentype");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

.mobileMenu {
  display: none;
}

body {
  font-family: "Gotham-Book", sans-serif;
  font-weight: 400;
}

.gotham-bold, .musicplayer_container .musicplayer .landing_page_sound_player .settings .button:hover, .slide .privacyPolicy .contactInfo .phone {
  font-family: "Gotham-Bold", sans-serif;
  font-weight: 700;
}

.gotham-light, .slide .privacyPolicy .contactInfo .copyright, .slide .contactForm .form-control .input, .slide .contactForm .form-control {
  font-family: "Gotham-Light", sans-serif;
  font-weight: 300;
}

.right_arrow_bouncing {
  background-image: url(/assets/images/right-arrow-bouncing.svg);
}

.left_arrow_bouncing {
  background-image: url(/assets/images/left-arrow-bouncing.svg);
}

.slides_wrapper {
  overflow: hidden;
  height: 100vh;
}
.slides_wrapper .slides_inner {
  transition-property: transform;
  transition-duration: 1400ms;
  transition-timing-function: cubic-bezier(0.29, 0.79, 0.35, 0.99);
}
.slides_wrapper .slides_inner.slide_idx_4 .cornerLogoHideOnLastSlide {
  opacity: 0;
}

.separator {
  border-left: 0.5462802649px solid #FFFFFF;
  height: 42px;
  margin: 0 24px;
}

/*
 * Set music player opacity delays to make sure the players appear and disappear as needed
 *
 * There are 2 .musicplayer_container elements. 
 * One is within slide 2 to show that it scrolls down when you go from the second to the first slide.
 * The other is a fixed position which is hidden on the first slide always but is visible on the rest 
 * so when you scroll through slides 2-5 it will stay in the top right corner.
 */
.slides_wrapper > .musicplayer_container {
  opacity: 1;
  transition: opacity 0s linear 1400ms;
}
.slides_wrapper .slides_inner .slide .musicplayer_container {
  opacity: 1;
  transition: opacity 0s linear 1400ms;
}
.slides_wrapper .slides_inner.slide_idx_2 .slide .musicplayer_container {
  opacity: 0;
  transition: opacity 0s;
}
.slides_wrapper .slides_inner.slide_idx_0 + .musicplayer_container {
  opacity: 0;
  transition: opacity 0s;
}

/* This will run the slide in animation.
 * It will only run once since we will remove the 
 * .animationHasNotRun class after the animation
 * has ran.
 * For reference: 
 * slideInAnimation($elementWidth, $delay)
 */
.landing_page_sound_player:not(.animationHasNotRun) .slideInAnimationWrapper .slideInAnimationElementContainer {
  overflow: hidden;
}
.landing_page_sound_player:not(.animationHasNotRun) .slideInAnimationWrapper .slideInAnimationElementContainer .slideInAnimationElement {
  animation-fill-mode: forwards;
  animation-duration: 0.75s;
  transform: translateX(100vw);
  width: 86px;
}
.landing_page_sound_player:not(.animationHasNotRun) .slideInAnimationWrapper .slideInAnimationElementContainer .slideInAnimationElementLeft {
  animation-fill-mode: forwards;
  animation-name: soundOptionsSlideOutLeft;
  animation-delay: 5s;
}
@keyframes soundOptionsSlideOutLeft {
  0% {
    transform: translateX(86px);
  }
  100% {
    transform: translateX(0);
  }
}
.landing_page_sound_player:not(.animationHasNotRun) .slideInAnimationWrapper .slideInAnimationElementContainer .slideInAnimationElementRight {
  animation-fill-mode: forwards;
  animation-name: soundOptionsSlideOutRight;
  animation-delay: 5.2s;
}
@keyframes soundOptionsSlideOutRight {
  0% {
    transform: translateX(-86px);
  }
  100% {
    transform: translateX(0);
  }
}
.landing_page_sound_player:not(.animationHasNotRun) .slideInAnimationWrapper .separator {
  height: 0;
  animation-fill-mode: forwards;
  animation-name: lineAppear;
  animation-duration: 0.75s;
  animation-delay: 4.5s;
}

.corner_content_wrapper:not(.animationHasNotRun) .slideInAnimationWrapper .slideInAnimationElementContainer {
  overflow: hidden;
}
.corner_content_wrapper:not(.animationHasNotRun) .slideInAnimationWrapper .slideInAnimationElementContainer .slideInAnimationElement {
  animation-fill-mode: forwards;
  animation-duration: 0.75s;
  transform: translateX(100vw);
  width: 140px;
}
.corner_content_wrapper:not(.animationHasNotRun) .slideInAnimationWrapper .slideInAnimationElementContainer .slideInAnimationElementLeft {
  animation-fill-mode: forwards;
  animation-name: soundOptionsSlideOutLeft;
  animation-delay: 1.7s;
}
@keyframes soundOptionsSlideOutLeft {
  0% {
    transform: translateX(140px);
  }
  100% {
    transform: translateX(0);
  }
}
.corner_content_wrapper:not(.animationHasNotRun) .slideInAnimationWrapper .slideInAnimationElementContainer .slideInAnimationElementRight {
  animation-fill-mode: forwards;
  animation-name: soundOptionsSlideOutRight;
  animation-delay: 1.9s;
}
@keyframes soundOptionsSlideOutRight {
  0% {
    transform: translateX(-140px);
  }
  100% {
    transform: translateX(0);
  }
}
.corner_content_wrapper:not(.animationHasNotRun) .slideInAnimationWrapper .separator {
  height: 0;
  animation-fill-mode: forwards;
  animation-name: lineAppear;
  animation-duration: 0.75s;
  animation-delay: 1.2s;
}

.submittedFormOverlay {
  display: none;
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  align-items: center;
  justify-content: center;
  letter-spacing: 4.4px;
  font-size: 20px;
  z-index: 1;
}
.submittedFormOverlay .closeBtn {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.submittedFormOverlay .closeBtn > img {
  width: 30px;
}

.formSubmitted .submittedFormOverlay {
  display: flex;
}

.slide {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.slide.runAnimations .background-video.videoZoomEffect {
  transform: scale(1);
  transition-delay: 0s, 1.1s;
}
.slide.runAnimations .centerBottom > h1 {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: fadeInDriftUp;
  animation-duration: 0.7s;
  animation-delay: 0.5s;
  opacity: 0;
}
.slide.runAnimations .centerBottom > h1 + h1 {
  animation-delay: 0.7s;
}
.slide.runAnimations .center > h1,
.slide.runAnimations .center .contactButton {
  position: relative;
  animation-fill-mode: forwards;
  animation-name: fadeInDriftUp;
  animation-duration: 1.7s;
  animation-delay: 0.5s;
}
.slide.runAnimations .center .contactButton,
.slide.runAnimations .center > h1 {
  animation-delay: 0.7s;
  opacity: 0;
}
.slide.runAnimations .center .contactButton {
  animation-delay: 1.1s;
}
.slide.runAnimations .downArrow {
  opacity: 1;
  bottom: 0;
}
.slide.runAnimations .privacyPolicy .verticalLineContainer .verticalLine {
  height: 100%;
}
.slide.runAnimations .privacyPolicy .logo {
  opacity: 1;
}
.slide.runAnimations .cornerLogofadeIn {
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-delay: 1.2s;
  opacity: 0;
}
.slide .downArrow {
  opacity: 0;
  transition: all 1.2s;
  transition-delay: 1s;
  position: relative;
  bottom: 50px;
  cursor: pointer;
  margin-top: 20px;
}
.slide .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 217px;
  height: 66px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 2.25px;
  color: #000000;
  cursor: pointer;
}
.slide.bg000 {
  background-color: #000;
  color: #fff;
}
.slide.backgroundFrame {
  background-image: url(/assets/images/hobokenh1.jpg);
  background-color: #FFF;
  background-position: top;
  background-size: calc(100% - 90px) calc(100% - 45px);
}
.slide .center {
  text-align: center;
}
.slide .center .contactButton,
.slide .center > h1 {
  opacity: 1;
  transition: opacity 0.5s;
}
.slide .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.slide .background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: object-position 1400ms linear 0s;
}
.slide .background-video.videoZoomEffect {
  transform: scale(1.07);
  transition: object-position 1400ms linear 0s, transform 1.2s ease-out 1.2s;
}
.slide .centerBottom {
  letter-spacing: 4.4px;
  position: absolute;
  bottom: 13vh;
  line-height: 45px;
  text-align: center;
}
.slide .centerBottom > h1 {
  opacity: 1;
}
.slide .contactButton {
  color: #a9a9a9;
  opacity: 0;
}
.slide .contactPageWrapper {
  width: 100%;
  height: 100%;
}
.slide .contactForm {
  position: absolute;
  left: 100px;
  top: 175px;
  background-color: #CDCDCD;
  padding: 53px;
  width: 44vw;
  margin-bottom: 53px;
}
.slide .contactForm .headline {
  font-size: 14px;
  letter-spacing: 4.17px;
  line-height: 16.66px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 18px;
}
.slide .contactForm .two-input-group {
  display: flex;
}
.slide .contactForm .two-input-group .form-control {
  flex-grow: 1;
}
.slide .contactForm .two-input-group .form-control + .form-control {
  margin-left: 32px;
}
.slide .contactForm .form-control {
  letter-spacing: 1px;
}
.slide .contactForm .form-control .label {
  display: block;
  color: #000;
  font-size: 14.2px;
  line-height: 19.88px;
  margin-top: 24px;
}
.slide .contactForm .form-control .input {
  margin-top: 16px;
  background-color: #fff;
  height: 44px;
  border: none 0 transparent;
  width: 100%;
  font-size: 20px;
  letter-spacing: 4.4px;
  padding: 10px;
}
.slide .contactForm .form-control .input.textarea {
  height: 80px;
}
.slide .contactForm .form-control .select2-container--default .select2-selection--single {
  border: none;
  border-radius: 0;
  height: 44px;
}
.slide .contactForm .form-control .select2-container--default .select2-selection--single .select2-selection__rendered {
  letter-spacing: 4.4px;
  line-height: 44px;
}
.slide .contactForm .form-control .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #000 transparent transparent transparent;
  border-width: 13px 7px 0 7px;
}
.slide .contactForm .form-control .how_you_heard {
  width: 100%;
}
.slide .contactForm .fine-print {
  font-size: 10px;
  line-height: 1.4em;
  color: #000;
  margin-top: 18px;
  letter-spacing: 1px;
}
.slide .contactForm .rightArrowContainer {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}
.slide .contactForm .rightArrowContainer .rightArrow {
  cursor: pointer;
}
.slide .privacyPolicy {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  float: right;
}
.slide .privacyPolicy .verticalLineContainer {
  height: 50vh;
}
.slide .privacyPolicy .verticalLineContainer .verticalLine {
  border-left: solid 0.55px #000;
  transition: all 1.2s;
  transition-delay: 0.9s;
  height: 0;
}
.slide .privacyPolicy .logo {
  height: 90px;
  margin-bottom: 56px;
  margin-top: 35px;
  opacity: 0;
  transition: all 1.2s;
  transition-delay: 2.1s;
}
.slide .privacyPolicy .contactInfo {
  text-align: center;
}
.slide .privacyPolicy .contactInfo .address,
.slide .privacyPolicy .contactInfo .phone,
.slide .privacyPolicy .contactInfo .copyright {
  font-size: 15px;
  line-height: 25px;
}
.slide .privacyPolicy .contactInfo .copyright {
  margin-top: 1.4em;
}
.slide .privacyPolicy .contactInfo .btn {
  border: solid 1px #000;
  margin-top: 46px;
}

.musicplayer_container {
  position: absolute;
  z-index: 2;
  color: #fff;
  text-align: center;
  letter-spacing: 4.4px;
}
.musicplayer_container.darkMode {
  color: #000;
}
.musicplayer_container.darkMode .separator {
  border-left-color: #000;
}
.musicplayer_container.corner_layout {
  top: 50px;
  right: 50px;
  line-height: 21px;
}
.musicplayer_container.corner_layout .centered_content {
  display: none;
}
.musicplayer_container.center_layout {
  position: static;
  display: block;
}
.musicplayer_container.center_layout .corner_content_wrapper {
  display: none;
}
.musicplayer_container .corner_content {
  display: flex;
  align-items: center;
}
.musicplayer_container .corner_content .slideInAnimationElement {
  width: 140px;
}
.musicplayer_container .corner_content .separator {
  margin: 0;
  transition: border-left-color 1400ms;
}
.musicplayer_container .button {
  cursor: pointer;
  transition: color 1400ms;
}
.musicplayer_container .musicplayer .landing_page_sound_player .title {
  position: relative;
  opacity: 0;
  animation-fill-mode: forwards;
  animation-name: fadeInDriftUp;
  animation-duration: 1s;
  animation-delay: 4s;
}
.musicplayer_container .musicplayer .landing_page_sound_player .settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  height: 42px;
}
.musicplayer_container .musicplayer .landing_page_sound_player .settings .button {
  width: 86px;
}
.musicplayer_container .musicplayer .landing_page_sound_player .settings .button.play {
  z-index: 1;
}
.musicplayer_container .musicplayer .landing_page_sound_player .settings .button.play .text {
  float: right;
  width: 86px;
}
.musicplayer_container .musicplayer .landing_page_sound_player .settings .button.mute .text {
  float: left;
  width: 86px;
}
.musicplayer_container .musicplayer .landing_page_sound_player .settings .button .text {
  overflow: hidden;
}
.musicplayer_container .musicplayer .landing_page_sound_player .settings .separator {
  margin: 0;
}

.corner-logo-wrapper {
  position: absolute;
  top: 40px;
  left: 100px;
  z-index: 12;
  height: 60px;
  width: 250px;
  cursor: default;
}
.corner-logo-wrapper.fixed {
  z-index: 0;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(1) {
  animation-delay: 1450ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(2) {
  animation-delay: 1500ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(3) {
  animation-delay: 1550ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(4) {
  animation-delay: 1600ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(5) {
  animation-delay: 1650ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(6) {
  animation-delay: 1700ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(7) {
  animation-delay: 1750ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(8) {
  animation-delay: 1800ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(9) {
  animation-delay: 1850ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(10) {
  animation-delay: 1900ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(11) {
  animation-delay: 1950ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(12) {
  animation-delay: 2000ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(13) {
  animation-delay: 2050ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(14) {
  animation-delay: 2100ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(15) {
  animation-delay: 2150ms;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation:nth-child(16) {
  animation-delay: 2200ms;
}
.corner-logo-wrapper.fixed.animate .corner-logo {
  animation-duration: 1s;
  animation-delay: 1400ms;
  animation-fill-mode: forwards;
  animation-name: slideCornerLogo;
  transform: translateX(0);
  transition: transform 0s;
}
.corner-logo-wrapper.fixed.animate .text .cascading-animation {
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  opacity: 0;
}
.corner-logo-wrapper.fixed .corner-logo {
  transform: translateX(260px);
}
.corner-logo-wrapper.fixed .text .cascading-animation {
  opacity: 1;
}
.corner-logo-wrapper:hover .corner-logo {
  transform: translateX(260px);
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(1) {
  animation-delay: 0.05s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(2) {
  animation-delay: 0.1s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(3) {
  animation-delay: 0.15s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(4) {
  animation-delay: 0.2s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(5) {
  animation-delay: 0.25s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(6) {
  animation-delay: 0.3s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(7) {
  animation-delay: 0.35s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(8) {
  animation-delay: 0.4s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(9) {
  animation-delay: 0.45s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(10) {
  animation-delay: 0.5s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(11) {
  animation-delay: 0.55s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(12) {
  animation-delay: 0.6s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(13) {
  animation-delay: 0.65s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(14) {
  animation-delay: 0.7s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(15) {
  animation-delay: 0.75s;
}
.corner-logo-wrapper:hover .text .cascading-animation:nth-child(16) {
  animation-delay: 0.8s;
}
.corner-logo-wrapper:hover .text .cascading-animation {
  animation-fill-mode: forwards;
  animation-name: fadeIn;
  animation-duration: 0.2s;
}
.corner-logo-wrapper.darkMode .text {
  color: #000;
}
.corner-logo-wrapper.darkMode .separator {
  border-left-color: #000;
}
.corner-logo-wrapper .corner-logo {
  width: 110px;
  transition: all 1s;
  position: absolute;
  left: 0;
}
.corner-logo-wrapper .text {
  transition: all 1s;
  position: absolute;
  top: 20px;
  color: #fff;
  width: 300px;
  display: flex;
  align-items: center;
}
.corner-logo-wrapper .text .letter {
  opacity: 0;
  padding-right: 4.4px;
}
.corner-logo-wrapper .text .separator {
  opacity: 0;
  margin: 0 12px;
}

@media screen and (min-width: 769px) {
  .mobile-only {
    display: none !important;
  }

  .slide .contactPageWrapper .contactForm .form-control .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 5px;
    right: 18px;
  }
  .slide .contactPageWrapper .contactForm .form-control .input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent;
  }
  .slide .contactPageWrapper .contactForm .form-control .input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent;
  }
  .slide .contactPageWrapper .contactForm .form-control .input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent;
  }
  .slide .contactPageWrapper .contactForm .form-control .input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent;
  }
  .slide .contactPageWrapper .contactForm .select2-selection__placeholder {
    color: transparent;
  }
}
@media screen and (max-width: 768px) {
  .not-mobile {
    display: none !important;
  }
}
@media screen and (max-width: 768px), screen and (max-width: 896px) and (orientation: landscape) {
  @keyframes rightbounce {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(5px);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes leftbounce {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }
  .left_arrow_bouncing,
.right_arrow_bouncing {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: 34px;
    height: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .left_arrow_bouncing {
    animation-name: leftbounce;
    margin-right: 10px;
  }

  .right_arrow_bouncing {
    animation-name: rightbounce;
    margin-left: 10px;
  }

  body {
    overflow: hidden;
  }

  .formSubmitted .submittedFormOverlay.mobile-only {
    position: fixed;
  }

  .slide_idx_0 + .musicplayer_container + .mobileMenu .hamburger {
    transform: translateY(-50px);
    transition: transform 0s;
  }

  .mobile-video-position-left .mobile-content-center,
.mobile-video-position-left .mobile-content-right {
    opacity: 0;
  }

  .mobile-video-position-center .mobile-content-left,
.mobile-video-position-center .mobile-content-right {
    opacity: 0;
  }

  .mobile-video-position-right .mobile-content-center,
.mobile-video-position-right .mobile-content-left {
    opacity: 0;
  }

  .mobile-video-position-left .mobile-content-left:not(.animate) > h1,
.mobile-video-position-center .mobile-content-center:not(.animate) > h1,
.mobile-video-position-right .mobile-content-right:not(.animate) > h1 {
    animation-duration: 0.5s;
    animation-name: fadeOut;
  }

  .slide.runAnimations .centerBottom > h1 {
    opacity: 1;
    animation-name: none;
  }

  .slide .centerBottom > h1 {
    top: 0;
  }

  .centerBottom.mobile-only.animate > h1 {
    opacity: 0;
    position: relative;
    animation-fill-mode: forwards;
    animation-name: fadeInDriftUp;
    animation-duration: 0.7s;
    animation-delay: 0.5s;
  }
  .centerBottom.mobile-only.animate > h1 + h1 {
    animation-delay: 0.7s;
  }

  .centerBottom .line {
    position: relative;
    opacity: 1;
    top: 80px;
    transition: top 0s linear 1.2s, opacity 1s;
  }

  .runAnimations .centerBottom .line {
    top: 0;
    transition: top 0.5s linear 0.8s;
  }

  .mobile-content-center,
.mobile-content-right,
.mobile-content-left {
    opacity: 1;
    transition: opacity 0.4s;
  }

  .mobileMenu {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    pointer-events: none;
  }
  .mobileMenu .hamburgerWrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .mobileMenu .hamburger {
    transform: translateY(0);
    transition: transform 0.5s linear 1400ms;
    padding: 30px 15px 15px 15px;
    pointer-events: all;
  }
  .mobileMenu .hamburger.darkMode .line {
    border-top-color: #000;
  }
  .mobileMenu .hamburger .line {
    border-top: solid 4px #fff;
    width: 33px;
    margin-bottom: 10px;
  }
  .mobileMenu .expandedMobileMenu {
    position: absolute;
    width: 100%;
    background: #000;
    padding: 0 25px;
    height: 80px;
    display: flex;
    align-items: center;
    transform: translateY(-80px);
    transition: transform 0.5s;
  }
  .mobileMenu .expandedMobileMenu.open {
    transform: translateY(0);
    pointer-events: all;
  }
  .mobileMenu .expandedMobileMenu .menuItemsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
  }
  .mobileMenu .expandedMobileMenu .menuItemsContainer .text {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 1.4em;
  }
}
@media screen and (max-width: 768px) and (max-width: 398px), screen and (max-width: 896px) and (orientation: landscape) and (max-width: 398px) {
  .mobileMenu .expandedMobileMenu .menuItemsContainer .text {
    width: min-content;
  }
}
@media screen and (max-width: 768px), screen and (max-width: 896px) and (orientation: landscape) {
  .mobileMenu .expandedMobileMenu .menuItemsContainer .separator {
    height: 33px;
    margin: 0 5px;
  }
}
@media screen and (max-width: 768px), screen and (max-width: 896px) and (orientation: landscape) {
  .mobileMenu .expandedMobileMenu .menuItemsContainer .logo > img {
    height: 35px;
    margin: 0 5px;
  }
}
@media screen and (max-width: 768px), screen and (max-width: 896px) and (orientation: landscape) {
  .mobileMenu .expandedMobileMenu .menuItemsContainer .sound > img,
.mobileMenu .expandedMobileMenu .menuItemsContainer .contact > img,
.mobileMenu .expandedMobileMenu .menuItemsContainer .close_btn > img {
    height: 25px;
    margin-left: 5px;
  }
}
@media screen and (max-width: 768px), screen and (max-width: 896px) and (orientation: landscape) {
  .corner_content_wrapper {
    display: none;
  }
}
@media screen and (max-width: 768px), screen and (max-width: 896px) and (orientation: landscape) {
  .musicplayer_container .musicplayer .landing_page_sound_player {
    font-size: 12px;
  }
  .musicplayer_container .musicplayer .landing_page_sound_player .settings {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px), screen and (max-width: 896px) and (orientation: landscape) {
  .slides_wrapper .corner-logo-wrapper {
    display: none;
  }
  .slides_wrapper .slides_inner .slide.backgroundFrame {
    background-size: cover;
  }
  .slides_wrapper .slides_inner .slide.mobile-video-position-left .videoContainer {
    transform: translateX(33%);
  }
  .slides_wrapper .slides_inner .slide.mobile-video-position-center .videoContainer {
    transform: translateX(0%);
  }
  .slides_wrapper .slides_inner .slide.mobile-video-position-right .videoContainer {
    transform: translateX(-33%);
  }
  .slides_wrapper .slides_inner .slide .videoContainer {
    transition: transform 0.8s;
  }
  .slides_wrapper .slides_inner .slide .videoContainer .background-video {
    object-position: center;
    width: auto;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm {
    position: static;
    width: 100%;
    margin-bottom: 0;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm.submitted .submittedFormOverlay {
    position: fixed;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm.submitted .submittedFormOverlay .text {
    transform: translateY(200vh);
    font-size: 15.5px;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm.submitted .submittedFormOverlay .closeBtn {
    transform: translateY(400vh);
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm.submitted .submittedFormOverlay .closeBtn > img {
    width: 16px;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .fine-print {
    font-size: 9px;
    margin-top: 14px;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .rightArrowContainer {
    justify-content: space-between;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .rightArrowContainer .logo {
    height: 55px;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .mobileRightArrowContainer {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .mobileRightArrowContainer .text {
    margin-right: 20px;
    font-size: 17px;
    letter-spacing: 4.4px;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .mobileRightArrowContainer .rightArrow {
    height: 17px;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control {
    margin-top: 21px;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control ::-webkit-input-placeholder {
    color: #000;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control :-moz-placeholder {
    color: #000;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control ::-moz-placeholder {
    color: #000;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control :-ms-input-placeholder {
    color: #000;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control .select2-container--default .select2-selection--single {
    height: 68px;
    display: flex;
    align-items: center;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: auto;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control .select2-container--default .select2-selection--single .select2-selection__arrow > b {
    border-width: 12px 8px 0 8px;
    margin-left: -20px;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 15px;
    color: #000000;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control .select2-container--default .select2-selection--single .select2-selection__rendered .select2-selection__placeholder {
    color: #000000;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control .label {
    display: none;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control .input {
    height: 68px;
    margin-top: 0;
    padding: 11px;
    font-size: 15px;
    color: #000000;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .form-control .input.textarea {
    height: 136px;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .two-input-group {
    flex-direction: column;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .contactForm .two-input-group .form-control + .form-control {
    margin-left: 0;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .mobilePrivacyPolicy {
    background: #000;
    color: #fff;
    padding: 65px 0;
    text-align: center;
    line-height: 1.4em;
    font-size: 14px;
  }
  .slides_wrapper .slides_inner .slide .contactPageWrapper .mobilePrivacyPolicy .contactInfo > a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  .slides_wrapper .slides_inner .slide .center > h1 {
    text-align: justify;
  }
}
@media screen and (max-width: 896px) and (orientation: landscape) {
  .formSubmitted .submittedFormOverlay {
    display: flex !important;
  }

  .slides_wrapper .slides_inner .slide.mobile-video-position-left .videoContainer, .slides_wrapper .slides_inner .slide.mobile-video-position-center .videoContainer, .slides_wrapper .slides_inner .slide.mobile-video-position-right .videoContainer {
    transform: translateX(0%);
  }
  .slides_wrapper .slides_inner .slide .mobilePrivacyPolicy.mobile-only {
    display: block !important;
  }
  .slides_wrapper .slides_inner .slide .privacyPolicy.not-mobile {
    display: none;
  }
  .slides_wrapper .slides_inner .slide .contactForm .rightArrowContainer .rightArrow.not-mobile {
    display: none;
  }
  .slides_wrapper .slides_inner .slide .contactForm .rightArrowContainer .mobileRightArrowContainer.mobile-only {
    display: flex !important;
  }
}
/*
@media screen and (min-width: 769px) and (max-height: 1080px) {
	//Fixes for contact form slide on smaller screens
	.slide {
		.contactForm {
			top: calc(100px + 6vh);
			padding: 4vh;

			.headline {
				margin-bottom: 1.6vh;
				line-height: 1.4em;
				font-size: calc(11px + .2vh);
				letter-spacing: 0.4vh;
			}
			.form-control {
				.label {
					margin-top: 1vh;
					font-size: calc(11px + .2vh);
					line-height: 1.4em;
				}
				.input {
					margin-top: 0.5vh;
					height: 4vh;
					padding: 0.9vh;
					&.textarea {
						height: calc(30px + 2vh);
					}
				}
			}
			.fine-print {
				margin-top: 0.5vh;
			}
			.rightArrow {
				margin-top: 0.5vh;
				width: 40px;
			}
		}
		.privacyPolicy {
			.verticalLineContainer {
				height: calc(100px + 10vh);
			}
			.logo {
				margin-top: 3vh;
				margin-bottom: 3vh;
				height: calc(45px + 4vh);
			}
			.contactInfo .btn {
				margin-top: 4vh;
			}
		}
	}
}
*/

/*# sourceMappingURL=styles.css.map */
