@import 'sass/_reset';



/* Custom Styles */
@import 'sass/_all';

@media screen and (max-width: 768px) {
	@import 'sass/_mobile';
}




@media screen and (max-width: 1500px) {
	.slide {
		.contactForm {
			top: 16.2vh;
			padding: 4.5vh;
			
			.headline {
				margin-bottom: 1.6vh;
			}
			.form-control {
				.label {
					margin-top: 1.8vh;
				}
				.input {
					margin-top: 1vh;
					height: 4vh;
					padding: 0.9vh;
				}
			}
			.fine-print {
				margin-top: 1vh;
			}
			.rightArrow {
				margin-top: 2vh;
			}
		}
		.privacyPolicy {
			.verticalLineContainer {
				height: 35vh;
			}
		}
	}
}
